
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <img src="../../../../assets/images/icons/icons8-microscope-48.png" alt="microscope" class="img"/>
            <li class="nav-item">
              <a class="nav-link" class="navbar-brand" routerLink="/admin/profile"  routerLinkActive="activeNav">Admin Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" class="navbar-brand" routerLink="/admin/ListTest" routerLinkActive="activeNav">Tests Library</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" class="navbar-brand" routerLink="/admin/BillList" routerLinkActive="activeNav">Bill List</a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/ListEmployee" class="navbar-brand" routerLinkActive="activeNav">Employees</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"class="navbar-brand" routerLink="/admin/ListPatients" routerLinkActive="activeNav">Patients</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" class="navbar-brand" routerLink="/admin/ListDepartment" routerLinkActive="activeNav">Departments<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" class="navbar-brand" routerLink="/admin/ListJob" routerLinkActive="activeNav">Jobs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" class="navbar-brand" routerLink="/reports/Reports" routerLinkActive="activeNav">Reports</a>
              </li>
              <div class="form-inline " id="KirOut">
                <img src="../../../../assets/images/adlogo2.jpg"
                  style="height: 3rem;width: 3rem; border-radius: 50%;"
                />
                <h5 class="text-light m-2" style="user-select: none;">
                  Admin
                </h5>
                <li class="nav-item">
                  <a class="nav-link" class="navbar-brand" routerLink="/" routerLinkActive="active">
                    <button class="btn btn-outline-danger btn-sm">
                      Logout
                    </button>
                  </a>
                </li>
              </div>
              <div class="page_social greylinks">
                <a href="#" class="social-icon soc-facebook"></a>
                <a href="#" class="social-icon soc-twitter"></a>
                <a href="#" class="social-icon soc-youtube"></a>
                <a href="#" class="social-icon soc-google"></a>
            </div>
          </ul>
        </div>
      </nav>
      <!---end of nav-->
 