<div class="wrapper img-fluid parent" style="background-image: url('../../../../assets/images/bg-registration-form-2.jpg');">
   <!-- header -->
    <app-header></app-header>

<div class="container">
<div class="mysokarystyle text-center">
    <div class="mysokarystyle2">
    We provide assistance to patients to obtain the results of their referrals
     from anywhere by registering on our website.<br>
      The result of the analysis is communicated to the patient and the doctor
       so that everyone knows the result of the analysis immediately.
</div>
</div>
</div>
<app-footer></app-footer>
<!-- footer -->
</div>
